*{
    margin: 0;
    padding: 0;
}
.select input
{
    float: right;
    width: 330px;
    height:40px;
    border-radius: 10px;
    outline: none;
    margin-right:240px;
    margin-top: 20px;
}
.select button
{
    float: right;
    width:120px;
    height:40px;
    border-radius: 10px;
    outline: none;
    margin-right: 100px;
    margin-top:-40px;
    background-color: dodgerblue;
    color: floralwhite;
    letter-spacing: 3px;
    text-align:center;
    font-size: 14px;
}
.list_name img
{
    float: left;
    width:800px;
    height: 300px;
    margin-left: 300px;
    margin-top: 100px;
}
.ptn
{
    float: left;
    opacity:0.6;
    width:800px;
    height:40px;
    background-color: white;
    border-top:1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    margin-left: 298px;
    margin-top: 3px;
}
.ptn span
{
    float: left;
    color:orangered;
    font-weight: 900;
    font-size:90px;
    margin-top:-70px;
}
.ptn:hover
{
    box-shadow: 1px 1px white;
    margin-top: -0.02px;
}
.ptn p
{
    float: left;
    margin-left:10px;
    margin-top: 10px;
    font-size: 13px;
}
/* 定位的内容 */
.list_t
{
    position: fixed;
    top:100px;
    right: 20px;
    width:300px;
    height: 100px;
    background-color: white;
    opacity: 0.7;
}
.list_t img
{
    position: fixed;
    top:100px;
    right:220px;
    margin-top:10px;
    border-radius:50%;
    width: 90px;
    height:90px;
}
.list_t p
{
    position: fixed;
    top:100px;
    right:120px;
    margin-top:10px;
    width: 90px;
    height:90px;
    color: cornflowerblue;
}
.list_t span
{
    position: fixed;
    top:100px;
    right:60px;
    margin-top:10px;
    width: 90px;
    height:90px;
    color: cornflowerblue;
}
.list_t button
{
    position: fixed;
    top:120px;
    right:60px;
    margin-top:40px;
    width:120px;
    height:30px;
    color: cornflowerblue;
    
}
.list_t button:hover
{
    color: crimson;
}
.list_t input
{
    display: none;
    position: fixed;
    top: 140px;
    right:35px;
    outline:none;
    border-top:none;
    border-bottom: 1px solid #888;
    border-left:none;
    border-right:none;

}
.lit
{
    position: fixed;
    top:200px;
    right: 20px;
    width:300px;
    height: 214px;
    margin-top:30px;
    background-color: white;
    opacity: 0.7;
}
.lit:hover
{
    margin-top: -0.01px;
}
.lit span
{
    position: fixed;
    top:200px;
    right: 255px;
    margin-top:30px;
    background-color: white;
    opacity: 0.7;
}
.lit img
{
    position: fixed;
    top: 200px;
    width:90px;
    height:110px;
    right: 200px;
    margin-top: 100px;
    border-radius:10px;
}
#m2
{
    position: fixed;
    top: 200px;
    width:90px;
    height:110px;
    right: 100px;
    margin-top: 100px;
    border-radius:10px;
}
.nav_x1
{
    float: left;
    width:800px;
    height: 100px;
    background-color: white;
    margin-top: 20px;
    margin-left:300px;
    opacity: 0.9;
}
.nav_x2
{
    float: left;
    width:800px;
    height: 100px;
    background-color: white;
    margin-top: 40px;
    margin-left:300px;
    opacity: 0.7;
}
.nav_x3
{
    float: left;
    width:800px;
    height: 100px;
    background-color: white;
    margin-top:40px;
    margin-left:300px;
    opacity: 0.7;
}
.nav_x4
{
    float: left;
    width:800px;
    height:100px;
    background-color: white;
    margin-top:50px;
    margin-left:300px;
    opacity: 0.7;
}
.nav_x1 img
{
    float:right;
    width:120px;
    height:100px;
    margin-top: 0.01px;
    border-radius:45%;
    
}
.nav_x1 span
{
    float: left;
    width:690px;
    margin-top: -70px;
}
.nav_x1 p
{
    float: left;
    color:orange;

}
.nav_x2 img
{
    float:left;
    width:120px;
    height:100px;
    margin-top:-22px;
    margin-left:680px;
    border-radius:45%;
    /* padding: 0 -10px; */
}
.nav_x2 span
{
    float: left;
    width:690px;
    margin-top: -70px;
}
.nav_x2 p
{
    float: left;
    color:orange;
}
.nav_x3 img
{
    float:left;
    width:120px;
    height:100px;
    margin-top:-22px;
    margin-left:680px;
    border-radius:45%;
}
.nav_x3 span
{
    float: left;
    width:690px;
    margin-top: -70px;
}
.nav_x3 p
{
    float: left;
    color:orange;
}
.nav_x4 img
{
    float:left;
    width:120px;
    height:96px;
    margin-top:-17px;
    margin-left:680px;
    border-radius:45%;
}
.nav_x4 img:hover
{
   box-shadow: 1px 1px white;
}
.nav_x4 span
{
    float: left;
    width:690px;
    margin-top: -70px;
}
.nav_x4 p
{
    float: left;
    color:orange;
}